<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Mhunter</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">

        <!-- Home -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door"></span> Home
            </NavLink>
        </div>

        <!-- All monsters -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monsters">
                <span class="bi bi-list-stars"></span> All Monsters
            </NavLink>
        </div>

        <!-- Search monster -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="monster-search">
                <span class="bi bi-search"></span> Search Monster
            </NavLink>
        </div>

        <!-- Random monster -->
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="random-monster">
                <span class="bi bi-shuffle"></span> Random Monster
            </NavLink>
        </div>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
